# Add link to BCMA api here. 
# You can use other APIs instead however the parser in 'index.ts' will have to be modified to accomodate that API's response structure.
API_LINK=
# Link to islamic finder for hanbali/shafi/maliki time (Don't change this unless you know what you are doing)
ISLAMIC_FINDER_API_LINK=https://www.islamicfinder.us/index.php/api/prayer_times?latitude=49.8863&longitude=119.4966&timezone=america/vancouver&method=2&juristic=0&time_format=0&date=
# URL to the prayerTimesFetch cloud function so prayer alerts function correctly (Again, don't change this unless you know what you are doing)
PRAYER_TIMES_FETCH_URL=https://prayertimesfetch-ilgk6gl75q-uc.a.run.app
# Android notification channel ids (dont change these unless you know what you are doing since they must match on the mobile app and here)
ANDROID_CHANNEL_ID_ATHAN_ALERTS=athan_alert_channel
ANDROID_CHANNEL_ID_ANNOUNCEMENTS=announcements_channel
ANDROID_CHANNEL_ID_IQAMAH_ALERTS=iqamah_alert_channel