# Add link to BCMA api here. 
# You can use other APIs instead however the parser in 'index.ts' will have to be modified to accomodate that API's response structure.
API_LINK=
# Link to external 3rd party API for hanbali/shafi/maliki time (Don't change this unless you know what you are doing)
THIRD_PARTY_API_LINK=https://api.aladhan.com/v1/timings/{date}?iso8601=true&method=2&latitude=49.8863348&longitude=-119.4934836
# URL to the prayerTimesFetch cloud function so prayer alerts function correctly (Again, don't change this unless you know what you are doing)
PRAYER_TIMES_FETCH_URL=https://prayertimesfetch-ilgk6gl75q-uc.a.run.app
# Android notification channel ids (dont change these unless you know what you are doing since they must match on the mobile app and here)
ANDROID_CHANNEL_ID_ATHAN_ALERTS=athan_alert_channel
ANDROID_CHANNEL_ID_ANNOUNCEMENTS=announcements_channel
ANDROID_CHANNEL_ID_IQAMAH_ALERTS=iqamah_alert_channel